body {
          font-family: 'Tahoma', sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
          direction: rtl; 
}
      
.dashboard-container {
          max-width: 800px;
          margin: 30px auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
      
h1 {
          color: #333;
          text-align: center;
}
      
h2 {
          color: #666;
          margin-bottom: 20px;
          text-align: center;
}
      
table {
          width: 100%;
          border-collapse: collapse;
          margin-bottom: 20px;
}
      
th, td {
          padding: 12px;
          text-align: right; /* متن در سلول‌ها از راست */
          border-bottom: 1px solid #ddd;
}
      
th {
          background-color: #007bff;
          color: white;
}
      
tr:hover {
          background-color: #f1f1f1; /* تغییر رنگ پس‌زمینه در صورت هاور */
}
      
a {
          display: block;
          width: 100%;
          text-align: center;
          padding: 10px;
          margin-top: 20px;
          background-color: #ff4c4c; /* قرمز */
          color: white;
          text-decoration: none;
          border-radius: 5px;
          transition: background-color 0.3s ease;
}
      
a:hover {
          background-color: #ff2c2c; /* کمی تیره‌تر در هاور */
}
      
a:active {
          background-color: #d00000; /* رنگ فعال */
}